<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Product</title>
</head>
<body>
	<h1>Enter Product Details</h1>

	<form method="post" action="/addProduct">

		Name : <input type="text" name="name"> <br> <br>
		Category : <input type="text" name="category"> <br> <br>
		Price : <input type="text" name="price"> <br> <br>
		Quantity : <input type="number" name="quantity"> <br> <br>

		<input type="submit" value="ADD"> <input type="reset"
			value="CLEAR">
	</form>

</body>
</html>